#dateTime{
	text-align: center;
}
#dateTime h1 {
	font-size: 5.1em;
}

#dateTime h2 {
	font-size: 1.5em;
}

#forecast ul li {
	font-size: 4.5em;
	text-align: center;
}
#forecast ul li h3 {
	font-size: 1.4em;
}
#forecast ul li .today h3 {
	font-size: 1.8em;
}
