.todoItem{
    color:#000;
    background-color:#80d8ff;
    list-style: none;
    height:15em;
    width: 15em;
    margin: 1em;
    padding: 1em;
    float: left;
    /*Firefox*/
    -moz-box-shadow:5px 5px 7px #000;
    /*Chrome and Safari*/
    -webkit-box-shadow: 5px 5px 7px #000;
    /*opera*/
    box-shadow:5px 5px 7px #000;
}
#addBtnTrash{
    margin-left: 10px;

}
#addBtnDone {
    margin-left: 28px;
    margin-right: 20px;
}

.done{
    text-decoration: line-through;
}

#taskContainer>li{
    color: black;
}
body {
	background-color: black;
}