<!DOCTYPE html>
<html ng-app = 'myApp' ng-csp = ''>
<head>
	<title>Currently</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/main.css" />
</head>
<body>
	<div class="container">
		<div ng-controller = 'mainController'>
			<div id="dateTime">
				<h1>{{date.raw | date: 'hh: mm: ss a'}}</h1>
				<h2>{{date.raw | date: 'EEEE, dd MMMM yyyy'}}</h2>
			</div>
					<div id = "forecast">
						<ul class="row list-unstyled">
							 <li ng-repeat="day in weather.forecast.forecastday" class="col-md-3">
							 <div ng-class="{today: $index == 0}">
							 <img class="{{ day.icon }}" ng-src="{{ day.icon_url }}" />
							 <h3>{{ day.high.fahrenheit }}</h3>
							 <h4 ng-if="$index == 0">Now</h4>
							 <h4 ng-if="$index != 0">{{ day.date.weekday }}</h4>
							 </div>
							 </li>
							 </ul>

					</div>
		</div>
	</div>
<script type="text/javascript" src="js/vendor/angular.min.js"></script>
<script type="text/javascript" src="js/vendor/angular-route.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>  
</html>