img{
    width: 1000px;
    height: 500px;
    display: table-column;
    z-index: 999;
    vertical-align: middle;
    border: ThreeDShadow;
    border-color: white;
    margin-top: 4%;
}
#prevButton{
    margin-left: -470px;
    margin-right: 890px;
}
.btn{
    margin-top: 2%;
}